.course
{
    display: flex;
    flex-direction: column;
    gap: 5rem;

    padding: 0 200px;
}
.hero-sec 
{

    // course-headings
    .course-headings {
        height: 350px;
        background-size: cover;
        background-position: top center;
        padding: 25px 65px;
        color: #ffffff;

        background-color: rgb(0 0 0 / 42%);
        background-blend-mode: darken;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .course-det {
        width: 500px;
    }

    .nav {
        .navbar {
            display: flex;
            gap: 2rem;

            p {
                padding: 1rem 3rem;
            }

            #active {
                border-bottom: 2px solid blue;
            }
        }
    }


    .course-details 
    {
        display: flex;
        justify-content: space-between;

        .courseAndabout 
        {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 575px;
            font-size: 1.2rem;

            // about Course
            .aboutCourse 
            {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
            }

            // course expectations
            .course-expectations
            {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
            }

            .key-topics
            {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .topics 
                {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }



        .registrationCard 
        {
            margin-top: -3rem;
            background: #fff;
            padding: 1.3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-right: 4rem;

            .features {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                p {
                    font-size: 0.8rem;
                }
            }

            .btn {
                background: blueviolet;
                padding: 0.6rem;
                border-radius: 2rem;
                color: #fff;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.about-instructor
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    .instructor-details
    {
        display: flex;
        gap: 2rem;
        align-items: center;
        font-size: 1.2rem;
        max-width: 925px;

        img 
        {
            height: 125px;
            border-radius: 50%;
        }
    }

    .instructor-socialMedia
    {
        max-width: 925px;
        display: flex;
        gap: 5rem;
        justify-content: center;
        .socialMedia
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
        img 
        {
            width: 20px;
        }
    }
}

.footer-testinomials
{
    padding: 4rem;
    background: #9c99994d;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}