.hero-sec {
    padding: 0 200px;

    // course-headings
    .course-headings {
        height: 350px;
        background-size: cover;
        background-position: top center;
        padding: 25px 65px;
        color: #ffffff;

        background-color: rgb(0 0 0 / 42%);
        background-blend-mode: darken;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .course-det {
        width: 500px;
    }

    .nav {
        .navbar {
            display: flex;
            gap: 2rem;

            p {
                padding: 1rem 3rem;
            }

            #active {
                border-bottom: 2px solid blue;
            }
        }
    }


    .course-details 
    {
        display: flex;
        justify-content: space-around;

        .courseAndabout 
        {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 575px;
            font-size: 1.2rem;

            .aboutCourse 
            {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
            }

            .course-expectations
            {
                display: flex;
            }
            .key-topics
            {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .topics 
                {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }



        .registrationCard 
        {
            margin-top: -3rem;
            background: #fff;
            padding: 1.3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .features {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                p {
                    font-size: 0.8rem;
                }
            }

            .btn {
                background: blueviolet;
                padding: 0.6rem;
                border-radius: 2rem;
                color: #fff;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}